langchain
langgraph
langchain_community
langchain-core
langgraph-checkpoint-postgres
langsmith
langchain-groq
langchain_google_genai
langchain-classic
dvc
dagshub
dvc-s3
fastapi
uvicorn
langchain-qdrant
langchain-fireworks
fastembed
bs4
PyMuPDF
langchain_cohere
redis 
langchain-redis
nemoguardrails
psycopg[binary]
langchain-chroma
logfire[requests,fastapi,httpx]
pydantic-settings
websockets
google-genai
httpx
portkey_ai
langchain-openai
